* {
    margin:0;
    padding:0;
}

body{
    background-color: #219ebc;
    text-align: center;
}

h1{
    color: #023047;
}
.container{
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    background-color: white;
    color:black;
}

#reset_btn{
    height:40px;
    width:100px;
    border-radius: 1rem;
    border: none;
    background-color: #023047;
    color:white;
}
#new_btn{
    height:40px;
    width:100px;
    border-radius: 1rem;
    border: none;
    background-color: #023047;
    color:white;    
}
#msg{
    color:white;
    font-size:5vmin;
}
.msg_container{
    height:30vmin;
}
.hide{
    display:none;
}